services:
  # entry for host access: localhost:8000 -> meta-entry -> meta-leader
  meta-entry:
    image: nginx:alpine
    container_name: meta-entry
    ports:
      - "8000:8000"
    volumes: 
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - meta-01
    networks:
      - dfs-net

  meta-01:
    build: ../services/meta
    container_name: meta-01
    environment:
      - NODE_ID=meta-01
      - META_ROLE=leader
      - REPLICATION_FACTOR=2
      - STORAGE_NODES=storage-01, storage-02, storage-03
      - ENABLE_STORAGE_HEALTHCHECK=1
      - STORAGE_PORT=9009
      - METADATA_FILE=metadata.json
      - DATA_DIR=/data
      # 0.1p03 heartbeat and membership timeout settings
      - HEARTBEAT_INTERVAL_SEC=3
      - HEARTBEAT_TIMEOUT_SEC=9
      - MEMBERSHIP_SWEEP_INTERVAL_SEC=1
    volumes:
      - ../data/meta:/data
    networks:
      - dfs-net

  # 0.1p03 haven't enabled follower sync/taking control, meta-02 is only a container
  meta-02:
    build: ../services/meta
    container_name: meta-02
    environment:
      - META_NODE_ID=meta-02
      - META_ROLE=follower
      - REPLICATION_FACTOR=2
      - STORAGE_NODES=storage-01,storage-02,storage-03
      - ENABLE_STORAGE_HEALTHCHECK=1
      - STORAGE_PORT=9009
      - METADATA_FILE=metadata.json
      - DATA_DIR=/data
      # 0.1p03 heartbeat and membership timeout settings
      - HEARTBEAT_INTERVAL_SEC=3
      - HEARTBEAT_TIMEOUT_SEC=9
      - MEMBERSHIP_SWEEP_INTERVAL_SEC=1
    volumes:
      - ../data/meta-follower:/data
    networks:
      - dfs-net

  storage-01:
    build: ../services/storage
    container_name: storage-01
    environment:
      - NODE_ID=storage-01
      - DATA_DIR=/data
      # 0.1p03 storage send heartbeat to meta-engty every x seconds
      - META_ENTRY_BASE_URL=http://meta-entry:8000
      - STORAGE_HEARTBEAT_INTERVAL_SEC=3
      - STORAGE_HEARTBEAT_TIMEOUT_SEC=2 
    volumes:
      - ../data/storage-01:/data
    ports:
      - "9009:9009" # <host:container>map storage-01 port to host for client access
    depends_on:
      - meta-entry
    networks:
      - dfs-net

  # storage-02, storage-03 在Phase1不使用
  storage-02:
    build: ../services/storage
    container_name: storage-02
    environment:
      - NODE_ID=storage-02
      - DATA_DIR=/data
      - META_ENTRY_BASE_URL=http://meta-entry:8000
      - STORAGE_HEARTBEAT_INTERVAL_SEC=3
      - STORAGE_HEARTBEAT_TIMEOUT_SEC=2
    volumes:
      - ../data/storage-02:/data
    ports:
      - "9010:9009"
    depends_on:
      - meta-entry
    networks:
      - dfs-net

  storage-03:
    build: ../services/storage
    container_name: storage-03
    environment:
      - NODE_ID=storage-03
      - DATA_DIR=/data
      - META_ENTRY_BASE_URL=http://meta-entry:8000
      - STORAGE_HEARTBEAT_INTERVAL_SEC=3
      - STORAGE_HEARTBEAT_TIMEOUT_SEC=2
    volumes:
      - ../data/storage-03:/data
    ports:
      - "9011:9009"
    depends_on:
      - meta-entry
    networks:
      - dfs-net

networks:
  dfs-net:
    driver: bridge